body {
    padding: 10px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.locked-text {
    padding: 1px;
    color: white;
    background: green;
    font-size: 10px;
    float: right;
}

.bet-card {
    padding: 0px 0 10px 10px;
    margin-bottom: 15px;
}

.bet-heading {
    font-size: 20px;
}

.bet-details {
    padding: 10px;
}

.amount,
.opinion {
    float: left;
    box-sizing: border-box;
    width: 50%;
}

.opinion {
    padding-left: 10px;
}

.for,
.against {
    float: left;
    box-sizing: border-box;
    width: 50%;
}

.lock-btn-holder {
    text-align: right;
    padding: 10px 0 0 0;
}

.league-header {
    margin: 60px 0 20px 0;
}

.league-header h3 {
    margin: 0;
    text-align: center;
}