body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.description {
	padding: 1rem;
	margin: 1em;
	font-size: larger;
}

.yes_radio {
  margin: 1em;
}

.amount {
	margin: 1em;
}